
# Python Data Structures and Boolean
Boolean
Boolean and Logical Operators
Lists
Comparison operators
Dictionaries
Tuples
Sets
# Boolean Variables
Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [1]:
False

False

In [3]:
print(True,False)

True False

In [5]:
type(True)

bool

In [34]:
str="Nayeem123"

In [35]:
str.istitle()

True

###### check if all char are numbers

In [36]:
print(str.isalnum())

True

###### check if all char in the string are alphabetic

In [37]:
print(str.isalpha())

False

###### test if string contains digits

In [38]:
print(str.isdigit())

False

###### test if string contains title words

In [39]:
print(str.istitle())

True

###### test if string contains upper case

In [40]:
print(str.isupper())

False

###### test if string contains lower case

In [41]:
print(str.islower())

False

###### test if string contains spaces

In [42]:
print(str.isspace())

False

###### test if string endswith a N

In [43]:
print(str.endswith('N'))

False

###### test if string startswith N

In [33]:
print(str.startswith('N'))

True

# Boolean and Logical Operators

In [45]:
True and True

True

In [46]:
True and False

False

In [47]:
True or False

True

In [48]:
True or True

True

In [49]:
str="Nayeemuddin"
str1="Mohd"

In [51]:
str.isalpha() and str1.istitle()

True

# Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [52]:
type([])

list

In [56]:
l=[]

In [57]:
type(l)

list

In [62]:
lst=["Apple","Car",1,12,"N"]

In [63]:
len(lst)

5

In [64]:
type(lst)

list

# Append

In [65]:
lst.append("Nayeem")

In [66]:
lst

['Apple', 'Car', 1, 12, 'N', 'Nayeem']

In [67]:
# Indexing the list
lst[5]

'Nayeem'

In [68]:
lst[2:5]

[1, 12, 'N']

# Insert

In [69]:
lst.insert(2,"Mohd")

In [70]:
lst

['Apple', 'Car', 'Mohd', 1, 12, 'N', 'Nayeem']

In [76]:
lst.append(["Hi","Hello"])

In [78]:
lst

['Apple',
 'Car',
 'Mohd',
 1,
 12,
 'N',
 'Nayeem',
 ['Hi', 'Hello'],
 ['Hi', 'Hello'],
 ['Hi', 'Hello'],
 ['Hi', 'Hello']]

In [79]:
lis=[1,3,5,6,7]

In [80]:
lis.append([2,4])

In [81]:
lis

[1, 3, 5, 6, 7, [2, 4]]

# Extend Method

In [82]:
my_list=[1,2,3,4,5,6,7]

In [83]:
my_list.extend([8,9])

In [84]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Various Operations that we can perform in List

In [85]:
list=[1,2,3,4,5]

In [86]:
sum(list)

15

In [87]:
list*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

## Pop method

In [88]:
list.pop()

5

In [89]:
list.pop(2)

3

## count():Calculates total occurrence of given element of List

In [90]:
list=[1,1,2,3,4,2,5,2,7]

In [91]:
list.count(2)

3

In [92]:
len(list)

9

In [93]:
min(list)

1

In [94]:
max(list)

7

# SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [95]:
set_var=set()

In [96]:
type(set_var)

set

In [97]:
set_var={2,45,7,8,97}

In [99]:
set_var

{2, 7, 8, 45, 97}

In [106]:
set={"Hi","Nayeem",123,543}

In [107]:
set

{'Nayeem', 123, 'Hi', 543}

In [108]:
## Inbuilt function in sets
set.add("Hello")

In [109]:
set

{'Hi', 'Nayeem', 543, 123, 'Hello'}

In [113]:
set1={"Hi","Nayeem",123,543}
set2={"Nayeem","Mohd",23,123}

In [114]:
set1.intersection(set2)

{'Nayeem', 123}

In [115]:
set1

{'Nayeem', 123, 'Hi', 543}

In [116]:
set1.intersection_update(set2)

In [117]:
set1

{'Nayeem', 123}

In [119]:
# DIfference
set2.difference(set1)

{'Mohd', 23}

In [120]:
set2.difference_update(set1)

In [121]:
set2

{'Mohd', 23}

# Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [122]:
dic={}

In [123]:
type(dic)

dict

In [125]:
type(dict())

dict

In [126]:
d1={2,5,7,9}

In [127]:
type(d1)

set

In [129]:
d2={"Name":"Nayeem","Age":26}

In [130]:
type(d2)

dict

In [132]:
d2["Name"]

'Nayeem'

In [133]:
# We can even loop throught the dictionaries keys
for i in d2:
    print(i)

Name
Age

In [135]:
# We can even loop throught the dictionaries values
for i in d2.values():
    print(i)

Nayeem
26

In [137]:
# We can also check both keys and values
for i in d2.items():
    print(i)

('Name', 'Nayeem')
('Age', 26)

In [138]:
# Adding items in Dictionaries
d2["place"]="Hyderabad"

In [139]:
d2

{'Age': 26, 'Name': 'Nayeem', 'place': 'Hyderabad'}

In [140]:
d2["Name"]="Mohd"

In [141]:
d2

{'Age': 26, 'Name': 'Mohd', 'place': 'Hyderabad'}

# Nested Dictionary

In [146]:
car1_model={"Mercedes":1980}
car2_model={"Maruti":1975}
car3_model={"BMW":1999}

In [147]:
car_type={"car1":car1_model,"car2":car2_model,"car3":car3_model}

In [148]:
car_type

{'car1': {'Mercedes': 1980}, 'car2': {'Maruti': 1975}, 'car3': {'BMW': 1999}}

In [149]:
print(car_type["car1"])

{'Mercedes': 1980}

In [150]:
print(car_type["car1"]["Mercedes"])

1980

# Tuples

In [153]:
my_tuple=tuple()

In [155]:
type(my_tuple)

tuple

In [156]:
my_tuple=()

In [158]:
type(my_tuple)

tuple

In [159]:
my_tuple=("Nayeem","Manoj","Kamal")

In [161]:
my_tuple1=("123","456")

In [162]:
print(my_tuple1)

('123', '456')

In [163]:
type(my_tuple)

tuple

In [165]:
my_tuple.count("Nayeem")

1

In [166]:
my_tuple.index("Kamal")

2